*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.display{
    min-height: 50vh;
}

.hands{
    height:60px;
    width:60px;
    border-radius: 100%;
    border:2px solid #444!important;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    background: #fff!important;
}

.hide{
    display: none!important;
    visibility: hidden;
}

.show{
    display: flex!important;
    visibility: visible;
}

@keyframes pops{
    10%{
        transform:scale(0)
    }
    50%{
        transform:scale(0.6);
    }
    100%{
        transform:scale(1);
    }
}

.anim-pops{
    animation: pops .3s ease;
}